body {
    background-image: url(../images/space.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    
    }

    .instuctions{
        width: 250px;
        height: 420px;
        background-color: #000066;
        margin: 134px 0px 27px 115px;
        position: absolute;
        border-radius: 15px;
        font-family: 'Squada One', cursive;
        font-size: 30px;
        color: #ccccff;
        text-align: center;

    }

    #inst{
        width: 200px;
        height: 215px;
        margin: 119px 0 0 20px;
        font-family: 'Squada One', cursive;
    }
    .score {
        width: 250px;
        height: 280px;
        background-color: #000066;
        margin: 169px -430px 0 468px;
        float: left;
        border-radius: 52px;
    }
    #compc{
        width: 100px;
        height: 100px;
        margin: 50px 0 0 80px;
        text-align: center;
        font-size: 100px;
        color: #ccccff;
    }
    #compchoice{
        text-align: center;
        font-size: 30px;
        color: #ccccff;
        font-family: 'Squada One', cursive;
    }
    #userc{
        width: 100px;
        height: 100px;
        margin: 50px 0 0 80px;
        text-align: center;
        font-size: 100px;
        color: #ccccff;
    }
    #userchoice{
        text-align: center;
        font-size: 30px;
        color: #ccccff;
        font-family: 'Squada One', cursive;
    }
    #w{
        width: 100px;
        height: 100px;
        margin: 25px 0 0 80px;
        text-align: center;
        font-size: 100px;
        color: #ccccff;
    }
    #winner{
        text-align: center;
        font-size: 30px;
        color: #ccccff;
        font-family: 'Squada One', cursive;
    }
    #l{
        width: 100px;
        height: 100px;
        margin: 25px 0 0 80px;
        text-align: center;
        font-size: 100px;
        color: #ccccff;
    }
    #loser{
        text-align: center;
        font-size: 30px;
        color: #ccccff;
        font-family: 'Squada One', cursive;
    }
    #allrocks {
        width: 650px;
        height: 200px;
        background: #000066;
        position: relative;
        margin: 488px 0px 0px 420px;
        border-radius: 52px;
    }
    .rocks{
        width: 100px;
        height: 100px;
        float: left;
        
    }
    .size{
        width: 150px;
        height: 150px;
        border-radius: 52px;
    }
    #rock1{
        margin: 25px 0 0 10px;
    }
    #rock2{
        margin: 25px 0 0 60px;

    }
    #rock3{
        margin: 25px 0 0 60px;

    }
    #rock4{
        margin: 25px 0 0 60px;
    }
    

    .whowon{
        width: 250px;
        height: 200px;
        background-color: #000066;
        margin: 137px 0 0px 1120px;
        position: absolute;
        border-radius: 52px;
    }

    .wholost{
        width: 250px;
        height: 200px;
        background-color: #000066;
        margin: 400px 0 0px 1120px;
        position: absolute;
        border-radius: 52px;
    }

    h1{

color: 	 #ccccff;
font-size: 70px;
font-family: 'Squada One', cursive;
margin: 62px 0px -100px 470px;


}