body {
    background-image: url(../images/space.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    
    }

    .instuctions{
        width: 250px;
        height: 479px;
        background-color: #000066;
        margin: 132px 0px 27px 115px;
        position: absolute;
    }
    .score {
        width: 250px;
        height: 280px;
        background-color: #000066;
        margin: 169px -430px 0 468px;
        float: left;
    }

    #allrocks {
        width: 650px;
        height: 200px;
        background: #000066;
        position: relative;
        margin: 488px 0px 0px 420px;
    }
    .rocks{
        width: 100px;
        height: 100px;
        float: left;
    }
    .size{
        width: 150px;
        height: 150px;
        
    }
    #rock1{
        margin: 25px 0 0 10px;
    }
    #rock2{
        margin: 25px 0 0 60px;

    }
    #rock3{
        margin: 25px 0 0 60px;

    }
    #rock4{
        margin: 25px 0 0 60px;
    }
    

    .whowon{
        width: 250px;
        height: 200px;
        background-color: #000066;
        margin: 137px 0 0px 1120px;
        position: absolute;
    }

    .wholost{
        width: 250px;
        height: 200px;
        background-color: #000066;
        margin: 400px 0 0px 1120px;
        position: absolute;
    }

    h1{

color: 	 #ccccff;
font-size: 70px;
font-family: 'Squada One', cursive;
margin: 0px 0px -50px 470px;

}